<!DOCTYPE html>
<html>
<head>
    <title>User Reviews</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'beltreview/styles.css' %}">
</head>
<body>
    <a href="/books" Home></a><a href="/books/add">Add Book and Review</a><a href="/logout">Logout</a>
    <h2>User Alias: {{user.alias}}</h2>
    <h3>Name: {{user.name}} </h3>
    <h3>Email: {{user.email}}</h3>
    <h3>Total Reviews: {{ num_reviews }}</h3><br><br>
    <h3>Posted Reviews on the following books:</h3>
    {%for reviews in reviews%}
    <p><a href="/books/{{reviews.book.id}}">{{reviews.book.title}}</a></p>
    {%endfor%}
</body>
</html>